#trainings {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 10px;
  background-color: white;
  color: black;
  padding-bottom: 20px;
}
#trainings .spacerContainer {
  width: 100%;
  height: 50px;
}
#trainings h1 {
  font-size: 20px;
  text-align: center;
}
#trainings h1 span {
  color: #EE3524;
}
#trainings .trainingContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#trainings .trainingContainer .inputName {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
#trainings .trainingContainer .inputName input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}
#trainings .trainingContainer .inputName button {
  width: 154px;
  height: 51px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #EE3524;
  outline: none;
  border-radius: 59px;
  font-weight: 700;
  border: none;
}
#trainings .planActiveContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#trainings .planActiveContainer .planContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE3524;
  gap: 20px;
  padding: 40px 20px;
}
#trainings .planActiveContainer .planContainer .planTitle {
  font: 20px;
}
#trainings .planActiveContainer .planContainer .planDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#trainings .planActiveContainer .planContainer .planDescriptionContainer p {
  text-align: center;
}
#trainings .planActiveContainer .planContainer .planDescriptionContainer .col2Plan {
  color: #EE3524;
}
#trainings .planActiveContainer .planContainer .planDescriptionContainer .col2Plan span {
  color: black;
}
#trainings .planActiveContainer .planContainer .planDescriptionContainer button {
  width: 140px;
  height: 51px;
  color: white;
  border-radius: 59px;
  background-color: #EE3524;
  outline: none;
  border: none;
}
#trainings .planActiveContainer .planContainer:nth-child(2) {
  position: relative;
  border: 1px dashed #EE3524;
}
#trainings .planActiveContainer .planContainer:nth-child(2) .planTitle {
  position: absolute;
  top: -20px;
  border: 1px solid #EE3524;
  padding: 10px;
  isolation: isolate;
}
#trainings .planActiveContainer .planContainer:nth-child(2) .planTitle::after {
  content: "";
  inset: 0;
  background-color: white;
  position: absolute;
  z-index: -1;
}
#trainings .paymentContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#trainings .paymentContainer h1 {
  color: black;
  font-weight: 800;
}
#trainings .paymentContainer #cardInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#trainings .paymentContainer #cardInfo h4 {
  color: black;
  font-weight: 800;
}
#trainings .paymentContainer #cardInfo #cardsclass {
  display: flex;
  gap: 10px;
}
#trainings .paymentContainer #cardInfo #cardsclass li {
  border: 1px solid black;
  width: 163px;
  height: 40.3px;
  list-style: none;
  border-radius: 8px;
  padding: 2px 10px;
}
#trainings .paymentContainer #cardInfo #cardsclass li p {
  font-size: 8px;
}
#trainings .paymentContainer #cardInfo #cardsclass li:nth-child(1) .iconContainer {
  display: flex;
  flex-direction: column;
}
#trainings .paymentContainer #cardInfo #cardsclass li:nth-child(1) .iconContainer div {
  width: 22px;
  height: 22px;
  background-image: url("../images/credit-card 1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#trainings .paymentContainer #cardInfo #cardsclass li:nth-child(2) .iconContainer {
  display: flex;
  flex-direction: column;
}
#trainings .paymentContainer #cardInfo #cardsclass li:nth-child(2) .iconContainer div {
  width: 22px;
  height: 22px;
  background-image: url("../images/image 30.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#trainings .paymentContainer #cardInfo #cardsclass li:nth-child(3) .iconContainer {
  display: flex;
  flex-direction: column;
}
#trainings .paymentContainer #cardInfo #cardsclass li:nth-child(3) .iconContainer div {
  width: 22px;
  height: 22px;
  background-image: url("../images/Rectangle 656.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#trainings .paymentContainer #cardInfo #cardsclass li:nth-last-child(1) {
  width: 48.18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#trainings .paymentContainer #cardInfo #cardsclass li:nth-last-child(1) div {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}
#trainings .paymentContainer #cardInfo .cardInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#trainings .paymentContainer #cardInfo .cardInput .inputCardinfo {
  width: 100%;
  display: flex;
  align-items: center;
  height: 55px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px;
  gap: 10px;
}
#trainings .paymentContainer #cardInfo .cardInput .inputCardinfo input {
  border: none;
  outline: none;
  font-size: 12px;
}
#trainings .paymentContainer #cardInfo .cardInput .inputCardinfo .cardsoffers {
  width: 100px;
  height: 15px;
  background: url("../images/banks.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#trainings .paymentContainer #cardInfo .row2cardInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#trainings .paymentContainer #cardInfo .row2cardInput .row2input {
  display: flex;
  flex-direction: column;
}
#trainings .paymentContainer #cardInfo .row2cardInput .row2input label {
  font-size: 16px;
}
#trainings .paymentContainer #cardInfo .row2cardInput .row2input input {
  width: 100%;
  height: 55px;
  border-radius: 8px;
  font-size: 12px;
  padding: 10px;
}
#trainings .paymentContainer #cardInfo .row2cardInput .inputCardinfo {
  display: flex;
  flex-direction: column;
}
#trainings .paymentContainer #cardInfo .row2cardInput .inputCardinfo label {
  font-size: 16px;
}
#trainings .paymentContainer #cardInfo .row2cardInput .inputCardinfo ul {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  align-items: center;
}
#trainings .paymentContainer #cardInfo .row2cardInput .inputCardinfo ul li {
  list-style: none;
}
#trainings .paymentContainer #cardInfo .row2cardInput .inputCardinfo ul input {
  width: 100%;
  height: 55px;
  border-radius: 8px;
  font-size: 12px;
  padding: 10px;
  border: none;
  outline: none;
}
#trainings .paymentContainer #cardInfo .row2cardInput .inputCardinfo ul li:nth-child(2) {
  width: 32px;
  height: 32px;
  background-image: url("../images/credit-card 1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#trainings .paymentContainer #cardInfo button {
  width: 154px;
  height: 51px;
  border-radius: 59px;
  background-color: #EE3524;
  color: white;
  border: none;
  outline: none;
}/*# sourceMappingURL=payment.css.map */