main {
  width: 100%;
}
main #home {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: auto;
}
main #home #profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #home #profile #imageContainer {
  background-image: url("../images/05-Joaquin-Revllo-22_0039-Full 1.png");
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
main #home #profile #profileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #home #profile #profileContent h2 {
  font-size: 25px;
  font-weight: 900;
}
main #home #profile #profileContent p {
  font-size: 14px;
  line-height: 20px;
}
main #home #profile #profileContent h2:nth-last-child(2) {
  line-height: 40px;
  font-size: 25px;
  font-weight: 900;
  color: white;
  position: relative;
}
main #home #profile #profileContent h2:nth-last-child(2)::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #f7941d;
  position: absolute;
  bottom: 0;
  left: 0;
}
main #home #profile #profileContent button {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  border-radius: 59px;
  background-color: #f7941d;
  border-color: #f7941d;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
main #home #reviews ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main #home #reviews ul li {
  list-style: none;
  font-size: 25px;
}
main #home #reviews ul li i {
  color: #f7941d;
}
main #home #reviews #reviewContainer {
  width: 100%;
}
main #home #reviews #reviewContainer h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-family: 900;
  color: #f7941d;
}
main #home #reviews #reviewContainer h1 span {
  height: 100%;
  font-size: 14px;
  color: white;
}
main #home #commentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0 10px;
}
main #home #commentContainer .cardInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main #home #commentContainer .cardInfoContainer .cOmentContainer {
  display: flex;
  gap: 10px;
}
main #home #commentContainer .cardInfoContainer .cOmentContainer .imageContainer {
  background-image: url("../images/Ellipse 9.png");
  background-size: contain;
  width: 66px;
  height: 66px;
  border-radius: 50%;
}
main #home #commentContainer .cardInfoContainer .cOmentContainer .nameContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main #home #commentContainer .cardInfoContainer .cOmentContainer .nameContainer p:nth-child(2) {
  margin-top: -10px;
  font-size: 12px;
}
main #home #commentContainer .cardInfoContainer #reviewStars {
  display: flex;
  justify-content: center;
  gap: 5px;
}
main #home #commentContainer .cardInfoContainer #reviewStars li {
  list-style-type: none;
  color: #f7941d;
}
main #home #outcome {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #home #outcome ul {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 20px;
}
main #home #outcome ul li {
  list-style: none;
  display: flex;
  gap: 20px;
}
main #home #outcome ul li p {
  border: 3px solid #f7941d;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}
main #home #outcome ul li p::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f7941d;
  position: absolute;
  border-radius: 50%;
  top: 15%;
  left: 20%;
}
main #home #outcome ul li span {
  font-size: 12px;
  width: 80%;
}
main #home #outcome .outcomeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0 10px;
}
main #home #outcome .outcomeContainer .outComeImage {
  width: 100%;
  height: 317.76px;
  background-image: url("../images/Rectangle 653.png");
  background-size: cover;
  background-position: center;
  border-radius: 11px;
}
main #home #outcome .outcomeContainer .outComeImageDescription {
  padding: 0 10px;
}
main #home #outcome .outcomeContainer .outComeImageDescription p {
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 1px;
}
main #home #outcome .outcomeContainer .outComeImageDescription p span {
  font-size: 35px;
  color: #f7941d;
}
main #home #trainingInclude {
  display: flex;
  flex-direction: column;
}
main #home #trainingInclude h1 {
  text-align: center;
  font-size: 25px;
  width: 100%;
  height: 100px;
}
main #home #trainingInclude h1 span {
  color: #f7941d;
}
main #home #trainingInclude .trainingContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #home #trainingInclude .trainingContainer .trainingImage {
  background-image: url("../images/image_18__1_-removebg-preview 1.png");
  width: 100%;
  height: 190px;
  background-size: contain;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
main #home #trainingInclude .trainingContainer ul {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 20px;
}
main #home #trainingInclude .trainingContainer ul li {
  list-style: none;
  display: flex;
  gap: 20px;
}
main #home #trainingInclude .trainingContainer ul li p {
  border: 3px solid #f7941d;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}
main #home #trainingInclude .trainingContainer ul li p::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f7941d;
  position: absolute;
  border-radius: 50%;
  top: 15%;
  left: 20%;
}
main #home #trainingInclude .trainingContainer ul li span {
  font-size: 12px;
  width: 80%;
}/*# sourceMappingURL=sectionOne.css.map */