main {

  width: 100%;

  #home {
    overflow-x: hidden;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;

    #profile {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      #imageContainer {
        background-image: url("../images/05-Joaquin-Revllo-22_0039-Full\ 1.png");
        width: 100%;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      #profileContent {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 25px;
          font-weight: 900;
        }

        align-items: center;

        p {
          font-size: 14px;
          line-height: 20px;
        }

        h2:nth-last-child(2) {
          line-height: 40px;

          font-size: 25px;
          font-weight: 900;
          color: white;
          position: relative;
        }

        h2:nth-last-child(2)::after {
          content: "";
          width: 100%;
          height: 5px;
          background-color: #f7941d;
          position: absolute;
          bottom: 0;
          left: 0;
        }

        button {
          margin-top: 10px;
          width: 150px;
          height: 50px;
          border-radius: 59px;
          background-color: #f7941d;
          border-color: #f7941d;
          color: white;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }

    #reviews {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        li {
          list-style: none;
          font-size: 25px;

          i {
            color: #f7941d;
          }
        }
      }

      #reviewContainer {
        width: 100%;

        h1 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          text-align: center;
          font-family: 900;
          color: #f7941d;

          span {
            height: 100%;
            font-size: 14px;
            color: white;
          }
        }
      }
    }

    #commentContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      padding: 0 10px;

      .cardInfoContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .cOmentContainer {
          display: flex;
          gap: 10px;

          .imageContainer {
            background-image: url('../images/Ellipse\ 9.png');
            background-size: contain;
            width: 66px;
            height: 66px;
            border-radius: 50%;
          }

          .nameContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;

            p:nth-child(2) {
              margin-top: -10px;
              font-size: 12px;
            }
          }

        }

        #reviewStars {
          display: flex;
          justify-content: center;

          gap: 5px;

          li {
            list-style-type: none;
            color: #f7941d;
          }
        }
      }

    }

    #outcome {
      display: flex;
      flex-direction: column;

      gap: 20px;

      ul {

        display: flex;
        flex-direction: column;
        padding: 0 10px;
        gap: 20px;

        li {
          list-style: none;
          display: flex;
          gap: 20px;

          p {
            border: 3px solid #f7941d;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: relative;
          }

          p::after {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #f7941d;
            position: absolute;
            border-radius: 50%;
            top: 15%;
            left: 20%;

          }

          span {
            font-size: 12px;
            width: 80%;
          }
        }
      }

      .outcomeContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0 10px;




        .outComeImage {
          width: 100%;
          height: 317.76px;
          background-image: url("../images/Rectangle\ 653.png");

          background-size: cover;
          background-position: center;
          border-radius: 11px;
        }

        .outComeImageDescription {
          padding: 0 10px;

          p {
            font-size: 14px;

            letter-spacing: 2px;
            word-spacing: 1px;

            span {
              font-size: 35px;
              color: #f7941d;
            }
          }
        }
      }
    }

    #trainingInclude {

      display: flex;
      flex-direction: column;

      h1 {
        text-align: center;
        font-size: 25px;
        width: 100%;
        height: 100px;


        span {
          color: #f7941d;
        }
      }

      .trainingContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .trainingImage {
          background-image: url('../images/image_18__1_-removebg-preview\ 1.png');
          width: 100%;
          height: 190px;
          background-size: contain;
          background-repeat: no-repeat;

          object-fit: cover;
        }

        ul {

          display: flex;
          flex-direction: column;
          padding: 0 10px;
          gap: 20px;

          li {
            list-style: none;
            display: flex;
            gap: 20px;

            p {
              border: 3px solid #f7941d;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              position: relative;
            }

            p::after {
              content: "";
              width: 10px;
              height: 10px;
              background-color: #f7941d;
              position: absolute;
              border-radius: 50%;
              top: 15%;
              left: 20%;

            }

            span {
              font-size: 12px;
              width: 80%;
            }
          }
        }

      }
    }
  }
}